In [4]:
import numpy as np
import pandas as pd
import tensorflow as tf
import pickle
import pandas as pd
from tensorflow.keras.models import load_model

WARNING:tensorflow:From c:\Users\BIT\Documents\deep1-learning-project\venvDeep\Lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [5]:
model=load_model('model.h5')

WARNING:tensorflow:From c:\Users\BIT\Documents\deep1-learning-project\venvDeep\Lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [7]:
with open('ohe_geo.pkl','rb') as file:
    label_encoder_geo=pickle.load(file)

with open('label_encoder_gender.pkl','rb') as file:
    label_encoder_gender=pickle.load(file)

with open('scaler.pkl','rb') as file:
    scaler=pickle.load(file)

In [8]:
input_data={
    'CreditScore':600,
    'Geography':'France',
    'Gender':'Male',
    'Age':40,
    'Tenure':3,
    'Balance':60000,
    'NumOfProducts':2,
    'HasCrCard':1,
    'IsActiveMember':1,
    'EstimatedSalary':50000
}

In [9]:
from sklearn.preprocessing import StandardScaler,OneHotEncoder,LabelEncoder

In [10]:
geo_encoded= label_encoder_geo.transform([[input_data['Geography']]]).toarray()

c:\Users\BIT\Documents\deep1-learning-project\venvDeep\Lib\site-packages\sklearn\utils\validation.py:2691: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

In [42]:
geo_encoded

array([[1., 0., 0.]])

In [ ]:
label_encoder_geo.get_feature_names_out

In [11]:
geo_decoded_df=pd.DataFrame(geo_encoded,columns=label_encoder_geo.get_feature_names_out(['Geography']))

In [12]:
geo_decoded_df

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [13]:
input_df=pd.DataFrame([input_data])

In [14]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [46]:
input_df['Gender']=label_encoder_gender.transform(input_df['Gender'])

In [47]:
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [48]:
input_data=pd.concat([input_df.reset_index(drop=True),geo_decoded_df],axis=1)

In [ ]:
# axis=0 → vertical (down the rows)

# axis=1 → horizontal (across columns)

In [ ]:
#concantentaion
input_df=pd.concat([input_df.drop("Geography",axis=1),geo_decoded_df],axis=1)

In [50]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0